name print

In [ ]:
print("iam rachanna")

iam rachanna

In [ ]:
#addition

a=4
b=4
sum=a+b
print("sum of two numbers")
print(sum)

sum of two numbers
8

**substraction**

In [ ]:
a=4
b=3
diff=a-b
print(diff)

1

multiphlication

In [ ]:
a=4
b=4
product=a*b
print(product)

16

division

In [ ]:
a=6
b=4
div=a/b
mod=a%b
print(div)
print(mod)

1.5
2

square of number

In [ ]:
number=4
square=number**2
print("square of the number",square)

square of the number 16

square of number using pow functon

In [ ]:
num=4
square=pow(num,2)
print("square",square)

square 16

finding the square root of number

In [ ]:
number = 16
square_root = number ** 0.5

print(square_root)

4.0

diffrent

In [ ]:
a=4
b=4
c=2
ans=((a+b)*c)
print(ans)

16

data types

In [ ]:
name="rachu"
print(type(name))

<class 'str'>

In [ ]:
num1=5
num2=2.5
num3="rr"
num4=5j
num5=-8
print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))
print(type(num5))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'int'>

list datatypes

In [ ]:
lis=['rachu','123','30.45','rachu']
type(lis)

list

In [ ]:
print(lis)

['rachu', '123', '30.45', 'rachu']

In [ ]:
lis2=['app','20','india']
print(len(lis))
print(len(lis2))
lis3=lis+lis2
print(lis3)
print(len(lis3))

4
3
['rachu', '123', '30.45', 'rachu', 'app', '20', 'india']
7

In [ ]:
lis2.append("hubli")
lis2

['app', '20', 'india', 'hubli', 'hubli']

In [ ]:
lis2.sort()
lis2

['20', 'app', 'hubli', 'hubli', 'india']

 tuples

In [ ]:
tuple1=("r","t")
print(type(tuple1))

<class 'tuple'>

assignment 5 programs

In [1]:
#program 1
l=[1,3,5,7,9]
print(type(l))
print(l[2])

<class 'list'>
5

In [2]:
#program 2
l=[2,3,"hello",[3,4,5]]
print(l[2])

hello

In [4]:
#program 3
l=[1,2,3,[4,5,6]]
print(l[3] [1])

5

In [8]:
# program 4
#triple argument
l=[1,2,3,4,5,6]
print(l[1 :])

[2, 3, 4, 5, 6]

In [13]:
# program 5
l=[2,3,4,5,6]
print(l[0 :3])

[2, 3, 4]

1.how do we access elements in tuple
2.join tuples
3.multlipe tuples
4.indexing
5.counting

In [18]:
tuple1=("hubli","belgum","hubli")

print(tuple1[1])
print(tuple1[-1])

belgum
hubli

In [22]:
tuple6=tuple1+tuple2
print(tuple6)
y=tuple6.index("hubli")
print(y)
x=tuple6.count("hubli")
print(x)

('hubli', 'belgum', 'hubli', 'hubli')
0
3

adding element to a tuple

In [23]:


x=("belgavi","gokak","belgavi")
print(type(tuple))

y=list(x)
y[2]="hubli"
x= tuple(y)
print(x)

<class 'type'>
('belgavi', 'gokak', 'hubli')

# **sets**
# 1. unordered
# 2.unchangeable
# 3. duplicates r not allowed

In [24]:
set1={"red","black","blue","red"}
print(set1)
set1.add('orange')
print(set1)
set2={"ball","bat","cat"}
set1.update(set2)
print(set1)

{'blue', 'black', 'red'}
{'orange', 'blue', 'black', 'red'}
{'blue', 'red', 'ball', 'orange', 'black', 'bat', 'cat'}

## **dictionaries**

In [25]:
Dict1= {"name":"rachu",
       "age":"20",
       "gender":"male"}
print(Dict1)

print(type(Dict1))

dict2= dict(fruit="mango",dessert="ice")
print(dict2)
print(type(dict2))

{'name': 'rachu', 'age': '20', 'gender': 'male'}
<class 'dict'>
{'fruit': 'mango', 'dessert': 'ice'}
<class 'dict'>

# *conditional statements*

In [26]:
a=input("enter the value of a")
b=input("enter the value of b")
print(a)
print(b)




if a>b:
  print("the value of a is grater than b")
if  a==b:
  print("both a and b are same")
else:
    print(a<b)

enter the value of a5
enter the value of b6
5
6
True

# **elif**

In [27]:
ball1_colour="green"
ball2_colour="blue"
ball3_colour="red"
ball4_colour="white"

pick_ball=input("please pick a ball")

if pick_ball == ball1_colour:
  print("green ball is picked")

elif pick_ball == ball2_colour:
  print("blue ball is picked")

elif pick_ball == ball3_colour:
  print("red ball is picked")

else:
  print("white ball is picked")

please pick a ballgreen
green ball is picked

operators
arthimetic operators

In [30]:
x=12
y=4

sum=x+y
diff=x-y
mul=x*y
div=x/y
fdiv=x//y
mod=x%y
power=x**y
print(sum)
print(diff)
print(mul)
print(div)
print(fdiv)
print(mod)
print(power)

16
8
48
3.0
3
0
20736

example for comparision operators

In [31]:
age=int(input("enter the age"))
print(age>18 and age<60)
print(age>18 or age<21)

enter the age9
False
True